spring:
  application:
    name: metrics-example-app

grpc:
  server:
    reflection:
      enabled: true
  client:
    authority: localhost:${grpc.server.port:9090}

management:
  opentelemetry:
    tracing:
      export:
        otlp:
          transport: http
          endpoint: http://localhost:4318/v1/traces
  tracing:
    sampling:
      probability: 1
  otlp:
    metrics:
      export:
        enabled: false
