spring:
  application:
    name: metrics-example

grpc:
  server:
    reflection:
      enabled: true
  client:
    authority: localhost:${grpc.server.port:9090}

management:
  otlp:
    metrics:
      export:
        enabled: true
        url: http://localhost:4317
debug: true
