spring:
  application:
    name: metrics-example

grpc:
  server:
    reflection:
      enabled: true
    port: 9099
  client:
    authority: localhost:${grpc.server.port:9090}

management:
  otlp:
    metrics:
      export:
        enabled: true
        url: http://localhost:4318/v1/metrics
        step: 5s
