spring:
  application:
    name: metrics-example

grpc:
  server:
    reflection:
      enabled: true
    port: 9101
  client:
    authority: localhost:${grpc.server.port}

management:
  metrics:
    tags:
      app: ${spring.application.name}
      profile: ${spring.profiles.active:default}
  otlp:
    metrics:
      export:
        enabled: true
        url: http://localhost:4318/v1/metrics
        step: 3s
  tracing:
    export:
      enabled: false
